.cdx-ask-ai-block {
  position: relative;

}

@media all and (min-width: 736px) {
  .cdx-ask-ai-block {
    padding-left: 36px;
  }
}

.cdx-ask-ai-block [contentEditable=true][data-placeholder]::before{
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.cdx-ask-ai-block [contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-ask-ai-block [contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}


.cdx-ask-ai-block::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg class='w-6 h-6 text-gray-800 dark:text-white' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.4' d='M16.872 9.687 20 6.56 17.44 4 4 17.44 6.56 20 16.873 9.687Zm0 0-2.56-2.56M6 7v2m0 0v2m0-2H4m2 0h2m7 7v2m0 0v2m0-2h-2m2 0h2M8 4h.01v.01H8V4Zm2 2h.01v.01H10V6Zm2-2h.01v.01H12V4Zm8 8h.01v.01H20V12Zm-2 2h.01v.01H18V14Zm2 2h.01v.01H20V16Z'/%3E%3C/svg%3E%0A");
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  position: absolute;
  margin-top: 8px;
  left: 0;
}

@media all and (max-width: 735px) {
  .cdx-ask-ai-block::before {
    display: none;
  }
}

.cdx-ask-ai-block__message {
  min-height: 85px;
  border: 0;
  box-shadow: none;
}

.cdx-ask-ai-block__title {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  box-shadow: none;
}

.ce-block__content {
  /* width: 100% !important */
}
